<div class="container">
  <!--
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div> -->
  <div class="jumbotron text-center" style="height:800px;width:100%; padding-bottom:80px;">
    <iframe id="iframeContainer" style="height:100%;width:100%;"></iframe>
    <div class="row" ng-if="vm.workOrder.status === 'issued'">
      <div class="col-sm-12 col-md-6" style="margin-top:5px;">
        <button type="button" class="btn btn-success" ng-click="vm.updateWO('accepted')">ACCEPT WORK ORDER</button>
      </div>
      <div class="col-sm-12 col-md-6" style="margin-top:5px;">
        <button type="button" class="btn btn-danger" ng-click="vm.updateWO('declined')">DECLINE WORK ORDER</button>
      </div>
    </div>
    <div class="row" ng-if="vm.workOrder.status === 'accepted'" style="text-align:center;">
      <button type="button" class="btn btn-default" style="background-color:deepskyblue;color:white;" ng-click="vm.updateWO('completed')">MARK WORK ORDER COMPLETE</button>
    </div>
    <div class="row" ng-if="vm.workOrder.status === 'completed'" style="text-align:center;">
      <h3 style="margin:10px;">Work Order Has Been Completed</h3>
    </div>
    <div class="row" ng-if="vm.workOrder.status === 'declined'" style="text-align:center;">
      <h3 style="margin:10px;color:red;">Work Order Has Been Declined</h3>
    </div>
  </div>
</div>
